// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'style';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-rounded-plus{
    border-radius: 30px;
    padding: 10px 15px;
    background-color: rgb(167, 209, 199);
    color: rgb(34, 34, 34);
}

h6{
    text-transform: uppercase;
    display: block;
    padding: 10px;
    width: 100%;
    background-color:#a7d1c7;
    font-weight: bold;
}


.box-house{
    border-bottom: 1px solid gray;

    .house-info{
        padding: 10px;
         border: 1px solid gray ;
         width: 50%;
         //background-color: aquamarine;
    }

    img{
        width: 30%;
    }
    h6{
        text-transform: uppercase;
        display: block;
        padding: 10px;
        width: 100%;
        background-color:#a7d1c7;
        font-weight: bold;
    }

    .house-action{
        .btn{
            display: block;

            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .box-house{
        border-bottom: 1px solid gray;
        flex-direction: column;

        .house-info{
            width: 100%;
        }
        img{
            width: 100%;
            margin-bottom: 20px;
        }
        h6{
            text-transform: uppercase;
            font-weight: bold;
        }

        .house-action{
            .btn{
                display: block;
                width: 100%;
            }
        }
    }
  }
