// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Lexend Deca', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Font
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;800&display=swap');

* {
    font-family: 'Lexend Deca', sans-serif;
}


// Colors
$coral1: #EF6351;
$coral2: #F38375;
$coral3: #F7A399;
$coral4: #FBC3BC;
$coral5: #FFE3E0;
