// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import './variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-rounded-plus{
    border-radius: 30px;
    padding: 10px 15px;
    background-color: rgb(167, 209, 199);
    color: rgb(34, 34, 34);
}

.debug{
    background-color: rgba(95, 158, 160, 0.808);
    border: 1px solid rgb(32, 32, 32);
}

//CREATE PAGE
.create{
    i{
        color: #2596be;
        font-size: 1rem;
        margin-right: 8px;
    }
    .service-line{
        border-bottom: 1px solid rgb(214, 207, 207);
    }


}
//EDIT
.edit{
    i{
        color: #2596be;
        font-size: 1rem;
        margin-right: 8px;
    }
    .service-line{
        border-bottom: 1px solid rgb(214, 207, 207);
    }
    .flag{
        top: 0;
        left: 0;
    }

}


//ADMIN HOME PAGE
.logged-admin-page{
    .posta{
        width: 60px;
    }
    .house{
        width: 55px;
    }
    .house-plus{
        width: 55px;
    }
    .gear{
        width: 25px;
    }
    a:hover{
        text-decoration: none;
    }
    .info-user{
        border-radius: 5px;
    }
}
.show-col-message{
    .mex-box{
        min-height: 250px;
        border-radius: 5px;
        .box{
            border-radius: 5px;
            &.text{
                overflow-y: auto;
                max-height: 200px;
            }
        }
    }
    .appartament{
        .img-appartament{
            height: 100px;
            width: 130px;
            border-radius: 5px;
        }
    }
    .user-container{
        overflow-y: auto;
        .img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        .user-item{
            border-bottom: 1px solid rgb(32, 32, 32);
            .date{
                color: rgb(88, 86, 86);
            }

        }
    }
}

//MESSAGE PAGE

.message-page{
    //COL NAV MEX
    .nav-mex{
        height: 100vh;
        .mex-title{
            font-weight: bold;
        }
        .message, .account, .message-appart, .message-user{
            border-bottom: 1px solid gray;
            h4, h5, h6{
                font-weight: bold;

            }
        }
        .message{
            img{
                width: 55px;
            }
        }
        .message-appart, .message-user, .message-host{
            img{
                width: 35px;
            }
            .insights{
                width: 45px;
            }

        }
        .account, .user-container{
            .img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        //USER CONTAINER

        // HOUSE CONTAINER
        .appart-item{
            .img{
                width: 90px;
                height: 60px;
                border-radius: 5px;
            }
            .mex-count{
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
            .no-mex{
                img{
                    width: 30px;
                }
            }
        }

    }
    //JUMBOTRON COL
    .jumbo{
        height: 100vh;
        overflow: hidden;
        .jumbo-user, .jumbo-host{
            background-size: cover;
            height: 500px;
        }
        .jumbo-user{
            background-position: center;
            background-image: url(../../../public/img/message-jumbo2.png);
        }
        .jumbo-host{
            background-position: bottom;
            background-image: url(../../../public/img/message-jumbo.png);
        }

        .text{
            h1{
                font-weight: bold;
            }
            &.host{
                border-radius: 5px;
                background-color: #ebd9d962;
            }
            &.user{
                border-radius: 5px;
                background-color: #44444473;
                color: whitesmoke;
            }
        }
    }
}

// END/MESSAGE PAGE

.box-house{
    border-bottom: 1px solid gray;

    .house-info{
        padding: 10px;
         border: 1px solid gray ;
         width: 50%;
         //background-color: aquamarine;
    }

    img{
        width: 30%;
    }
    h6{
        text-transform: uppercase;
        display: block;
        padding: 10px;
        width: 100%;
        background-color:#a7d1c7;
        font-weight: bold;
    }

    .house-action{
        .btn{
            display: block;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .box-house{
        border-bottom: 1px solid gray;
        flex-direction: column;

        .house-info{
            width: 100%;
        }
        img{
            width: 100%;
            object-fit: contain;
            margin-bottom: 20px;
        }
        h6{
            text-transform: uppercase;
            font-weight: bold;
        }

        .house-action{
            .btn{
                display: block;
                width: 100%;
            }
        }
    }
  }


  .stat{
    border-radius: 15px;
    width: calc(100%/3 - 20px);
    margin: 0 20px;
    box-shadow:5px 5px 10px 0px #bbb9b9;
    background-color:#f7f7f7;
    padding: 20px;

    span{
        font-size: 30px;
    }
  }

  .text-cont{
    h2{
        font-size: 60px;
        color: white;
        margin-bottom: 40px;
    }
    h4{
        color: white;
        font-size: 30px;
    }

    .btn-create{
        border-radius: 15px;
        padding: 15px;
        font-size: 25px;
        background-color: red;
        display: block;
        width: 50%;
        margin: auto;
        color: white;
        margin-top: 25px;
    }
  }


  .box{


    h1{
        font-size: 60px;
        text-transform: uppercase;

    }

    img{
        filter: contrast(0.75);

    }
  }


  @media screen and (max-width: 800px) {

    .box{
        h1{
            font-size: 1.5rem;
            text-align: justify;
        }
    }
    .stat-container{
        flex-direction: column;
    }


    .stat{
        border-radius: 15px;
        display: block;
        width: 100%;
        box-shadow:5px 5px 10px 0px #bbb9b9;
        background-color:#f7f7f7;
        margin: 20px 0;
        text-align: center;
        padding: 40px;

        span{
            font-size: 20px;
        }
      }

      .text-cont{
        padding: 20px;
        h2{
            font-size: 30px;
            color: white;
            margin-bottom: 40px;
        }
        h4{
            color: white;
            font-size: 20px;
            text-align: center;
        }

        .btn-create{
            border-radius: 15px;
            padding: 15px;
            font-size: 15px;
            background-color: red;
            display: block;
            width: 50%;
            margin: auto;
            color: white;
            margin-top: 25px;
        }
      }


      .box{
        h1{
            font-size: 60px;
            text-transform: uppercase;

        }

        img{
            filter: contrast(0.75);
        }
      }
  }
