// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import './variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-rounded-plus{
    border-radius: 30px;
    padding: 10px 15px;
    background-color: rgb(167, 209, 199);
    color: rgb(34, 34, 34);
}




.logged-admin-page{
    .posta{
        width: 60px;
    }
    .house{
        width: 55px;
    }
    a:hover{
        text-decoration: none;
    }
}

.box-house{
    border-bottom: 1px solid gray;

    .house-info{
        padding: 10px;
         border: 1px solid gray ;
         width: 50%;
         //background-color: aquamarine;
    }

    img{
        width: 30%;
    }
    h6{
        text-transform: uppercase;
        display: block;
        padding: 10px;
        width: 100%;
        background-color:#a7d1c7;
        font-weight: bold;
    }

    .house-action{
        .btn{
            display: block;

            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .box-house{
        border-bottom: 1px solid gray;
        flex-direction: column;

        .house-info{
            width: 100%;
        }
        img{
            width: 100%;
            object-fit: contain;
            margin-bottom: 20px;
        }
        h6{
            text-transform: uppercase;
            font-weight: bold;
        }

        .house-action{
            .btn{
                display: block;
                width: 100%;
            }
        }
    }
  }


  .stat{
    border-radius: 15px;
    width: calc(100%/3 - 20px);
    margin: 0 20px;
    box-shadow:5px 5px 10px 0px #bbb9b9;
    background-color:#f7f7f7;
    padding: 20px;

    span{
        font-size: 30px;
    }
  }

  .text-cont{
    h2{
        font-size: 60px;
        color: white;
        margin-bottom: 40px;
    }
    h4{
        color: white;
        font-size: 30px;
    }

    .btn-create{
        border-radius: 15px;
        padding: 15px;
        font-size: 25px;
        background-color: red;
        display: block;
        width: 50%;
        margin: auto;
        color: white;
        margin-top: 25px;
    }
  }


  .box{


    h1{
        font-size: 60px;
        text-transform: uppercase;

    }

    img{
        filter: contrast(0.75);
        height: 100%;
    }
  }


  @media screen and (max-width: 800px) {

    .box{
        h1{
            font-size: 1.5rem;
            text-align: justify;
        }
    }
    .stat-container{
        flex-direction: column;
    }


    .stat{
        border-radius: 15px;
        display: block;
        width: 100%;
        box-shadow:5px 5px 10px 0px #bbb9b9;
        background-color:#f7f7f7;
        margin: 20px 0;
        text-align: center;
        padding: 40px;

        span{
            font-size: 20px;
        }
      }

      .text-cont{
        padding: 20px;
        h2{
            font-size: 30px;
            color: white;
            margin-bottom: 40px;
        }
        h4{
            color: white;
            font-size: 20px;
            text-align: center;
        }

        .btn-create{
            border-radius: 15px;
            padding: 15px;
            font-size: 15px;
            background-color: red;
            display: block;
            width: 50%;
            margin: auto;
            color: white;
            margin-top: 25px;
        }
      }


      .box{
        h1{
            font-size: 60px;
            text-transform: uppercase;

        }

        img{
            filter: contrast(0.75);
        }
      }
  }

